.

.container {
    background-color: #e0ffff;
}

.text_h2{
    margin: 50px;
    font: -apple-system-short-caption1;
}
.col-lg-6{
    padding-top: 20px;
}
.form-floating {
    margin: 20px;
}

.navbar navbar-expand-lg navbar-light bg-info {
    background-color: #3dd5f3;
}